<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method="POST" action="/login">
        <h2>Login</h2>

        <label for="username">Username</label>
        <input type="text" id="username" name="username"><br>

        <label for="password">Password</label>
        <input type="password" id="password" name="password"><br>

        <div style="color: forestgreen" th:if="${userRegistered}">Successful registration</div>
        <div style="color: red" th:if="${loginError}">Wrong username or password</div>

        <button type="submit">Login</button><br>
        <a href="/registration">Make new account</a>
    </form>
</body>
</html>