<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User`s page</title>
</head>
<body>
    <h2>User Information</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birthdate</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${user.username}"></td>
                <td th:text="${user.firstname}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:text="${user.birthDate}"></td>
                <td th:text="${user.role}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>